<div class="admin-dashboard-wrapper">
    
    <header class="admin-header">
        <h1>Панель Управления</h1>
        <button (click)="goToPublic()">Выйти на Сайт</button> 
    </header>

    <div class="admin-main-area">
        <nav class="admin-sidebar">
            <a routerLink="/admin/price" routerLinkActive="active">Прайс-лист</a>
            <a routerLink="/admin/service" routerLinkActive="active">Услуги</a>
            <a routerLink="/admin/contacts" routerLinkActive="active">Контакты</a>
        </nav>

        <main class="admin-content">
            <router-outlet></router-outlet> 
        </main>
    </div>
    
    </div>