<header>
    <div class="logo">
        <div class="logo-main">БЕТОН</div>
        <div class="logo-subtitle">с доставкой в Иваново</div>
    </div>

    <div class="contact-info-container">
    <div class="contact-info">
        <!-- Ссылка на номер телефона, чтобы по нему можно было кликнуть с мобильного -->
         <a href="{{ phoneHref }}" class="phone-number">{{ phoneNumber }}</a>
        <!-- <a href="tel:+74951234567" class="phone-number">+7 (495) 123-45-67</a> -->
    </div>

    <div class="navigation-mobile-wrapper">
        <app-navigation-bar></app-navigation-bar>
        </div>
    </div>
    
    <div class="actions">
        <!-- Кнопка перехода к калькулятору на главной странице -->
        <a routerLink="/" class="btn-calculator" routerLinkActive="active-btn"
            [routerLinkActiveOptions]="{exact: true}">
            Сделать расчёт
            <span></span>
        </a>
    </div>
</header>