.calculator-container {
  max-width: 450px;
  // margin-right: 5%;
  margin-right: 45px;
  padding: 20px;
  border-radius: 8px;
  font-family: sans-serif;
  // background-color: rgba(245, 123, 123, 0.7); 
  // border-width: 1px;
  background-color: rgba(255, 255, 255, 0.7); 
      
      /* Эффект "ретуширования" (размытие фона) */
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 24px; /* Увеличено для более мягких углов */
      
      /* Усиленная тень для эффекта "парения" */
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); 
  // border-style: solid;
  // border-color: black;
  animation: fadeInFromTop 0.8s ease-out;
    }
    
    @keyframes fadeInFromTop {
        from { opacity: 0; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
}

.input-method-selection,
.manual-input,
.volume-calculator,
.grade-selection,
.result-display {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.input-method-selection label {
  margin-right: 20px;
  cursor: pointer;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"], select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.result-display {
  background-color: #e2f0d9;
  border: 1px solid #c2e0b1;
  font-size: 1.2em;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

@media (max-width: 768px) {
.calculator-container{
    margin: 0;
}
}